

.navBar {
    background-color: #D30423;
    background-image: url("../img/decoratorHorizontal.png");
    overflow: hidden;
}

.navBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.navBar a:hover {
    background-color: #ddd;
    color: black;
}


.navBar a.active {
    background-color: #04AA6D;
    color: white;
}

.navBar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navBar a:not(:first-child) {
        display: none;
    }

    .navBar a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .navBar.responsive {
        position: relative;
    }

    .navBar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navBar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.marcoiz {
    position: absolute;
    z-index: 10;
}

.marcoiz img {
    width: 5.5rem;
    height: 100%;
    padding: 0;
    margin-top: -1em;
}

.footer {

    background-color: blue;

    left: 0rem;

}

/*esto creo que es para que todo lo del html tenga padding y margin de 0 por defecto, no se, lo tuve que medio investigar x'd */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/*para hacer que el grafico aparezca como parte del fondo en la nav bar */
nav {
    height: 80px;
    width: 100%;
    padding: 0;
    background-color: #D30423;
    background-image: url("../img/decoratorHorizontal.png");
}

label.Logo {
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
    font-family: 'Georgia';
}

/* muestra en la parte superior derecha los botones del menu */
nav ul {
    float: right;
    margin-right: 40px;

}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;

}

/*para el icono que desplega el menu cuando estas en un telefono*/
nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    display: none;
}









/* esto es para hacer la cajita del menu, lo malo es que el texto aparece debajo :/ */
.box {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    margin: 2rem 1rem;
    height: 30px;
    background-color: #D30423;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
    transform: scale(1.25, 1.25);
}

.box:hover::after {
    opacity: 1;
}


/*codigo para visualizar el cuerpo y dar espacio para los widgets */
/* el cuerpo es de diseño grid, se va a dividir en dos grids, una para el cuerpo normal y otra para los widgets 
dentro del grid del cuerpo, va a haber mas grids para cada seccion */
.body {
    position: absolute;
    height: 100%;
    left: 6.5rem;
    right: 2rem;
    top: 490px;
    display: grid;

    gap: 2em;
}



.widgets {
    background-color: #D9D9D9;
}


/* este codigio es para separar las secciones por columnas, estoy experimentando con el
    pero se ve prometedor para poder tener un mejor orden en la pagina y menos lineas de codigo */
.columns-txt-left {
    color: #000;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 1em;
    font-size: 24px;
    line-height: 1.8rem;
}



.columns-txt-left img {
    margin-top: -4.6rem;
    width: 336px;
    height: 344px;
}


/* clases para los titulos */
.important-tittle-left {
    margin-top: 90px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    color: #000;
    font-size: 39px;
}

.important-tittle-right {
    margin-top: 90px;
    margin-bottom: 2rem;
    margin-right: 3rem;
    color: #000;
    font-size: 39px;
    text-align: right;
}

.important-tittle-center {
    margin-top: 90px;
    margin-bottom: 2rem;
    text-align: center;
    color: #000;
    font-size: 39px;
}

.subtittle-right {
    margin-top: 80px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 22px;
}


.columns-txt-right {
    color: #000;
    display: grid;
    grid-template-columns: 1fr 60%;
    gap: 1em;
    font-size: 24px;
    line-height: 1.8rem;
}



.columns-txt-right img {
    margin-top: -4rem;
    width: 405px;
    height: 378px;
}

.columns-txt-right p {
    margin-top: 3rem;
}



.center-bigrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #000;
    font-size: 20px;
    gap: 1em;
    text-align: center;
}


.center-bigrid p {
    margin-top: 4rem;
}

.crono {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.circle-r {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #D30423;
    border-radius: 200px;
}

.circle-r p {
    position: absolute;
    text-align: center;
    color: #000;
}


.circle-bl {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #214387;
    border-radius: 200px;
    margin-left: -6rem;
    z-index: 1;
}

.circle-y {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #FFB336;
    border-radius: 200px;
    margin-left: -6rem;
    z-index: 1;
}

.circle-rs {
    margin-top: 6rem;
    width: 267px;
    height: 266px;
    background-color: #4E0F11;
    border-radius: 200px;
    margin-left: -6rem;
    z-index: 1;
}





/* esto que dice @media es para que el diseño de la nav bar sea responsivo */
@media(max-width: 1048px) {
    .box:hover {
        cursor: auto;
    }

    label.Logo {
        font-size: 32px;
        padding-left: 60px;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        line-height: 35px;
        position: relative;
    }
}


@media(max-width: 909px) {
    .body {
        width: 100%;
    }

    #marcoiz {
        width: 30px;
        height: 100%;
        margin-top: -21rem;
        height: 100%;
    }

    .marco_img {
        width: 30px;
        height: 100%;
    }

    nav #icon {
        display: block;
    }

    .box {
        position: relative;
        display: inline-block;
        margin-right: 40px;
        margin: 2rem 1rem;
        height: 30px;
        background-color: #4E0F11;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4E0F11;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
    }

    .box:hover {
        cursor: auto;
    }

    nav ul.show {
        left: 0;

    }


}


/* banner */
.banner {
    background: url(../img/banner.jpeg) no-repeat;
    background-size: 100%;
    height: 31rem;
}